<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginActivity" android:exported="false"/>
        <activity android:name=".activities.HomeActivity" android:exported="false"/>
        <activity android:name=".activities.AnnouncementActivity" android:exported="false"/>
        <activity android:name=".activities.ComplaintActivity" android:exported="false"/>
        <activity android:name=".activities.WaterActivity" android:exported="false"/>
        <activity android:name=".activities.RationActivity" android:exported="false"/>
        <activity android:name=".activities.PollActivity" android:exported="false"/>
        <activity android:name=".activities.EmergencyActivity" android:exported="false"/>
        <activity android:name=".activities.ProfileActivity" android:exported="false"/>
        <activity android:name=".activities.SettingsActivity" android:exported="false"/>

    </application>

</manifest>
